Source: php5.2
Section: php
Priority: optional
Maintainer: s3rj1k <evasive.gyron@gmail.com>
Build-Depends: apache2-dev (>= 2.4),
	       dh-apache2,
	       dh-systemd (>= 1.3),
	       libsystemd-dev [linux-any],
	       autoconf (>= 2.63),
	       automake (>= 1.11) | automake1.11,
	       bison,
	       chrpath,
	       debhelper (>= 9),
	       dpkg-dev (>= 1.16.1~),
	       firebird-dev | firebird2.5-dev | firebird2.1-dev,
	       flex,
	       freetds-dev,
	       libapr1-dev (>= 1.2.7-8),
	       libbz2-dev,
	       libc-client-dev,
	       libcurl4-openssl-dev | libcurl-dev,
	       libdb-dev (>= 4.7),
	       libdjvulibre-dev,
	       libexpat1-dev (>= 1.95.2-2.1),
	       libfreetype6-dev,
	       libgcrypt11-dev,
	       libgd-dev (>= 2.1.0) | libgd2-dev,
	       libgmp3-dev,
	       libjpeg-dev | libjpeg62-dev,
	       libkrb5-dev,
	       libldap2-dev,
	       libmcrypt-dev,
	       libmhash-dev (>= 0.8.8),
	       libmysqlclient-dev | libmysqlclient15-dev | default-libmysqlclient-dev,
	       libncurses5-dev,
	       libpam0g-dev,
	       libpcre3-dev (>= 6.6),
	       libpng-dev | libpng12-dev,
	       libpspell-dev,
	       libreadline-dev,
	       librecode-dev,
	       libsasl2-dev,
	       libsqlite3-dev | libsqlite0-dev,
	       libssl-dev,
	       libtidy-dev,
	       libtiff-dev,
	       libtool (>= 2.2),
	       libwrap0-dev,
	       libxmltok1-dev,
	       libxml2-dev,
	       libxslt1-dev (>= 1.0.18),
	       re2c,
	       unixodbc-dev,
	       zlib1g-dev,
	       tzdata,
	       mysql-server
Build-Conflicts: bind-dev
Standards-Version: 3.9.6
Homepage: http://www.php.net/

Package: php5.2
Architecture: any
Depends: ${misc:Depends}, libapache2-mod-php5.2 (>= ${source:Version}~) | php5.2-fpm (>= ${source:Version}~) | php5.2-cli (>= ${source:Version}~), php5.2-common (>= ${source:Version}~)
Description: server-side, HTML-embedded scripting language (metapackage)
 This package is a metapackage that, when installed, guarantees that you
 have at least one of the four server-side versions of the PHP5 interpreter
 installed. Removing this package won't remove PHP5 from your system, however
 it may remove other packages that depend on this one.
 .
 PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used
 open source general-purpose scripting language that is especially suited
 for web development and can be embedded into HTML.

Package: php5.2-common
Architecture: any
Depends: ${misc:Depends},
	 ${shlibs:Depends},
	 sed (>= 4.1.1-1),
	 psmisc (>= 22.15-1~),
	 lsof,
	 ucf
Provides: php5.2-json, phpapi-20060613
Conflicts: php5.2-json
Description: Common files for packages built from the php5 source
 This package contains the documentation and example files relevant to all
 the other packages built from the php5 source.
 .
 PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used
 open source general-purpose scripting language that is especially suited
 for web development and can be embedded into HTML.

Package: libapache2-mod-php5.2
Section: httpd
Architecture: any
Depends: ${shlibs:Depends},
	 ${misc:Depends},
	 apache2 (>= 2.4),
	 apache2-api-20120211,
	 mime-support,
	 php5.2-common (= ${binary:Version}),
	 php5.2-cli,
	 php5.2-json,
	 libmagic1,
	 ucf,
	 tzdata
Provides: phpapi-20060613
Description: server-side, HTML-embedded scripting language (Apache 2 module)
 This package provides the PHP5 module for the Apache 2 webserver (as
 found in the apache2-mpm-prefork package).  Please note that this package
 ONLY works with Apache's prefork MPM, as it is not compiled thread-safe.
 PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used
 open source general-purpose scripting language that is especially suited
 for web development and can be embedded into HTML.

Package: php5.2-cli
Architecture: any
Depends: ${shlibs:Depends},
	 ${misc:Depends},
	 mime-support,
	 php5.2-common (= ${binary:Version}),
	 php5.2-json,
	 libmagic1,
	 ucf,
	 tzdata
Provides: phpapi-20060613
Description: command-line interpreter for the php5 scripting language
 This package provides the /usr/bin/php5.2 command interpreter, useful for
 testing PHP scripts from a shell or performing general shell scripting tasks.
 PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used
 open source general-purpose scripting language that is especially suited
 for web development and can be embedded into HTML.

Package: php5.2-fpm
Architecture: any
Depends: ${shlibs:Depends},
	 ${misc:Depends},
	 mime-support,
	 php5.2-common (= ${binary:Version}),
	 php5.2-cli,
	 php5.2-json,
	 libmagic1,
	 ucf,
	 tzdata
Provides: phpapi-20060613
Pre-Depends: ${misc:Pre-Depends}
Description: server-side, HTML-embedded scripting language (FPM-CGI binary)
 This package provides the Fast Process Manager interpreter that runs
 as a daemon and receives Fast/CGI requests.  Note that MOST Apache users
 probably want the libapache2-mod-php5.2 package.
 PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used
 open source general-purpose scripting language that is especially suited
 for web development and can be embedded into HTML.

Package: php5.2-dev
Depends: ${misc:Depends},
	 autoconf (>= 2.63),
	 automake (>= 1.11),
	 libssl-dev,
	 libpcre3-dev,
	 libtool (>= 2.2),
	 shtool,
	 php5.2-common (>= ${binary:Version}),
	 phpapi-20060613,
	 php5.2-cli (>= ${source:Version}~)
Conflicts: ${libtool:Conflicts}
Architecture: any
Description: Files for PHP5 module development
 This package provides the files from the PHP5 source needed for compiling
 additional modules.
 .
 PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used
 open source general-purpose scripting language that is especially suited
 for web development and can be embedded into HTML.

Package: php5.2-dbg
Depends: ${misc:Depends}, php5.2-common (= ${binary:Version}), libapache2-mod-php5.2 (= ${binary:Version}) | php5.2-cli (= ${binary:Version}) | php5.2-fpm (= ${binary:Version}) | php5.2-curl (= ${binary:Version}) | php5.2-gd (= ${binary:Version}) | php5.2-gmp (= ${binary:Version}) | php5.2-imap (= ${binary:Version}) | php5.2-interbase (= ${binary:Version}) | php5.2-ldap (= ${binary:Version}) | php5.2-mcrypt (= ${binary:Version}) | php5.2-mysql (= ${binary:Version}) | php5.2-odbc (= ${binary:Version}) | php5.2-pspell (= ${binary:Version}) | php5.2-recode (= ${binary:Version}) | php5.2-sqlite3 (= ${binary:Version}) | php5.2-sybase (= ${binary:Version}) | php5.2-tidy (= ${binary:Version}) | php5.2-xmlrpc (= ${binary:Version}) | php5.2-xsl (= ${binary:Version})
Recommends: gdb
Section: debug
Priority: extra
Architecture: any
Description: Debug symbols for PHP5
 This package provides the debug symbols for PHP5 needed for properly
 debugging errors in PHP5 with gdb.
 .
 PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used
 open source general-purpose scripting language that is especially suited
 for web development and can be embedded into HTML.

Package: php5.2-curl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, phpapi-20060613, php5.2-common (= ${binary:Version}), ucf
Pre-Depends: ${misc:Pre-Depends}
Description: CURL module for php5
 CURL is a library for getting files from  FTP, GOPHER, HTTP server.
 .
 PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used
 open source general-purpose scripting language that is especially suited
 for web development and can be embedded into HTML.

Package: php5.2-gd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, phpapi-20060613, php5.2-common (= ${binary:Version}), ucf
Pre-Depends: ${misc:Pre-Depends}
Description: GD module for php5
 This package provides a module for handling graphics directly from PHP
 scripts. It supports the PNG, JPEG, XPM formats as well as Freetype/ttf fonts.
 .
 PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used
 open source general-purpose scripting language that is especially suited
 for web development and can be embedded into HTML.

Package: php5.2-gmp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, phpapi-20060613, php5.2-common (= ${binary:Version}), ucf
Pre-Depends: ${misc:Pre-Depends}
Description: GMP module for php5
 This package provides a module for arbitrary precision arithmetic via the
 GNU Multiple Precision (GMP) Arithmetic Library.
 .
 PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used
 open source general-purpose scripting language that is especially suited
 for web development and can be embedded into HTML.

Package: php5.2-imap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, phpapi-20060613, php5.2-common (= ${binary:Version}), ucf
Pre-Depends: ${misc:Pre-Depends}
Description: IMAP module for php5
 This package provides a module for IMAP functions in PHP scripts.
 .
 PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used
 open source general-purpose scripting language that is especially suited
 for web development and can be embedded into HTML.

Package: php5.2-interbase
Architecture: linux-any kfreebsd-any
Depends: ${shlibs:Depends}, ${misc:Depends}, phpapi-20060613, php5.2-common (= ${binary:Version}), ucf
Pre-Depends: ${misc:Pre-Depends}
Description: interbase/firebird module for php5
 This package provides a module for interbase/firebird functions in PHP scripts.
 .
 PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used
 open source general-purpose scripting language that is especially suited
 for web development and can be embedded into HTML.

Package: php5.2-ldap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, phpapi-20060613, php5.2-common (= ${binary:Version}), ucf
Pre-Depends: ${misc:Pre-Depends}
Description: LDAP module for php5
 This package provides a module for LDAP functions in PHP scripts.
 .
 PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used
 open source general-purpose scripting language that is especially suited
 for web development and can be embedded into HTML.

Package: php5.2-mcrypt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, phpapi-20060613, php5.2-common (= ${binary:Version}), ucf
Pre-Depends: ${misc:Pre-Depends}
Description: MCrypt module for php5
 This package provides a module for MCrypt functions in PHP scripts.
 .
 PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used
 open source general-purpose scripting language that is especially suited
 for web development and can be embedded into HTML.

Package: php5.2-mhash
Architecture: any
Depends: ${shlibs:Depends},  ${misc:Depends}, phpapi-20060613, php5.2-common (= ${binary:Version}), php5.2-cli (= ${binary:Version}), ucf
Pre-Depends: ${misc:Pre-Depends}
Description: MHASH module for php5
 This package provides a module for mhash functions in PHP scripts.
 .
 PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used
 open source general-purpose scripting language that is especially suited
 for web development and can be embedded into HTML.

Package: php5.2-mysql
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, phpapi-20060613, php5.2-common (= ${binary:Version}), ucf
Conflicts: php5.2-mysqli
Replaces: php5.2-mysqli
Pre-Depends: ${misc:Pre-Depends}
Description: MySQL module for php5
 This package provides modules for MySQL database connections directly from
 PHP scripts.  It includes the generic "mysql" module which can be used
 to connect to all versions of MySQL, an improved "mysqli" module for
 MySQL version 4.1 or later, and the pdo_mysql module for use with
 the PHP Data Object extension.
 .
 PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used
 open source general-purpose scripting language that is especially suited
 for web development and can be embedded into HTML.

Package: php5.2-odbc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, phpapi-20060613, php5.2-common (= ${binary:Version}), ucf
Pre-Depends: ${misc:Pre-Depends}
Description: ODBC module for php5
 This package provides a module for database access through ODBC drivers.
 It uses the unixODBC library as an ODBC provider.  It also contains the
 pdo_odbc module, for use with the PHP Data Object extension.
 .
 PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used
 open source general-purpose scripting language that is especially suited
 for web development and can be embedded into HTML.

Package: php5.2-pspell
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, phpapi-20060613, php5.2-common (= ${binary:Version}), ucf
Pre-Depends: ${misc:Pre-Depends}
Description: pspell module for php5
 This package provides a module for pspell functions in PHP scripts.
 .
 PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used
 open source general-purpose scripting language that is especially suited
 for web development and can be embedded into HTML.

Package: php5.2-recode
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, phpapi-20060613, php5.2-common (= ${binary:Version}), ucf
Pre-Depends: ${misc:Pre-Depends}
Description: recode module for php5
 This package provides a module for recode - character set recoding.
 .
 PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used
 open source general-purpose scripting language that is especially suited
 for web development and can be embedded into HTML.

Package: php5.2-sqlite3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, phpapi-20060613, php5.2-common (= ${binary:Version}), ucf
Breaks: roundcube-sqlite (<< 0.7.1-2)
Pre-Depends: ${misc:Pre-Depends}
Description: SQLite3 module for php5
 This package provides a module allowing you to use the SQLite self-contained
 database engine from within your PHP scripts, eliminating the need for a full
 SQL server installation like MySQL or PostgreSQL.  It also includes the
 pdo_sqlite module, for use with the PHP Data Object extension.
 .
 PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used
 open source general-purpose scripting language that is especially suited
 for web development and can be embedded into HTML.

Package: php5.2-sybase
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, phpapi-20060613, php5.2-common (= ${binary:Version}), ucf
Provides: php5.2-mssql
Pre-Depends: ${misc:Pre-Depends}
Description: Sybase / MS SQL Server module for php5
 This package provides a module for Sybase and Microsoft SQL Server
 database connections directly from PHP scripts. It also includes the
 pdo_dblib module for use with the PHP Data Object extension.
 .
 PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used
 open source general-purpose scripting language that is especially suited
 for web development and can be embedded into HTML.

Package: php5.2-tidy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, phpapi-20060613, php5.2-common (= ${binary:Version}), ucf
Pre-Depends: ${misc:Pre-Depends}
Description: tidy module for php5
 This package provides a module for tidy functions in PHP scripts.
 .
 Tidy is an extension based on Libtidy (http://tidy.sf.net/) and allows
 a PHP developer to clean, repair, and traverse HTML, XHTML, and XML
 documents -- including ones with embedded scripting languages such as PHP
 or ASP within them using OO constructs.
 .
 PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used
 open source general-purpose scripting language that is especially suited
 for web development and can be embedded into HTML.

Package: php5.2-xmlrpc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, phpapi-20060613, php5.2-common (= ${binary:Version}), ucf
Pre-Depends: ${misc:Pre-Depends}
Description: XML-RPC module for php5
 This package provides a module for XML-RPC functions in PHP scripts.
 .
 PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used
 open source general-purpose scripting language that is especially suited
 for web development and can be embedded into HTML.

Package: php5.2-xsl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, phpapi-20060613, php5.2-common (= ${binary:Version}), ucf
Pre-Depends: ${misc:Pre-Depends}
Description: XSL module for php5
 This package provides a module for XSL using the libxslt XSL parser.
 .
 PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used
 open source general-purpose scripting language that is especially suited
 for web development and can be embedded into HTML.
