[Unit]
Description=The PHP-5.4 FastCGI Process Manager
After=network.target

[Service]
Type=notify
PIDFile=/var/run/php5.4-fpm.pid
ExecStartPre=/usr/lib/php/5.4/php5.4-fpm-checkconf
ExecStart=/usr/sbin/php5.4-fpm --nodaemonize --fpm-config /etc/php/5.4/fpm/php.ini
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
