[Unit]
Description=The PHP-5.2 FastCGI Process Manager
After=network.target

[Service]
Type=notify
PIDFile=/var/run/php5.3-fpm.pid
ExecStartPre=/usr/lib/php/5.3/php5.3-fpm-checkconf
ExecStart=/usr/sbin/php5.3-fpm --nodaemonize --fpm-config /etc/php/5.3/fpm/php.ini
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
