#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

# Set this flag to 'yes' if you want to disable all modifications breaking abi
# compatibility to upstream
PHP5_COMPAT=no

# enable dpkg build flags
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

DEB_HOST_GNU_TYPE    ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_HOST_ARCH        ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
DEB_HOST_ARCH_OS     ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)
DEB_HOST_MULTIARCH   ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
export DEB_HOST_MULTIARCH
PHP5_SOURCE_VERSION   = $(shell dpkg-parsechangelog | grep ^Version | sed "s/Version: /")
PHP5_UPSTREAM_VERSION = $(shell echo $(PHP5_SOURCE_VERSION) | sed -e "s/-.*/" -e "s/.*:/")
PHP5_DEBIAN_REVISION  = $(shell echo $(PHP5_SOURCE_VERSION) | sed "s/.*-/")

RUN_TESTS = yes
ifeq (nocheck,$(findstring nocheck,$(DEB_BUILD_OPTIONS)))
  $(warning Disabling checks due DEB_BUILD_OPTIONS)
  RUN_TESTS = no
endif

ifeq (linux,$(DEB_HOST_ARCH_OS))
  CONFIGURE_SYSTEMD = --with-fpm-systemd
else
  CONFIGURE_SYSTEMD = --without-fpm-systemd
endif

ifeq (yes,$(RUN_TESTS))
  MYSQL_PORT := $(shell for i in $$(seq 1025 3600 | sort -R); do nc -z localhost $$i || { echo $$i; exit; } ; done)
#  MYSQL_DATA_DIR ?= $(shell readlink -f mysql_db)
  MYSQL_DATA_DIR = /tmp/mysql_db
  ifeq (,$(MYSQL_PORT))
      $(error Could not find available port for mysql server)
  endif
  MYSQL_SOCKET = $(MYSQL_DATA_DIR)/mysql.sock
endif

PROG_SENDMAIL = /usr/sbin/sendmail
ifeq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
  CFLAGS += -O2
else
  CFLAGS += -O0
endif
CFLAGS += -Wall -fsigned-char -fno-strict-aliasing
# LFS support
ifneq (yes,$(PHP5_COMPAT))
  CFLAGS += $(shell getconf LFS_CFLAGS)
endif

# Enable IEEE-conformant floating point math on alphas (not the default)
ifeq (alpha-linux-gnu,$(DEB_HOST_GNU_TYPE))
  CFLAGS += -mieee
endif

# Enable producing of debugging information
CFLAGS += -g

# some other helpful (for readability at least) shorthand variables
PHPIZE_BUILDDIR = debian/php5.3-dev/usr/lib/php/5.3

# support new (>= 2.2) and older versions of libtool for backporting ease
LIBTOOL_DIRS = /usr/share/libtool/config /usr/share/libtool /usr/share/libtool/build-aux
LTMAIN = $(firstword $(wildcard $(foreach d,$(LIBTOOL_DIRS),$d/ltmain.sh)))
LTMAIN_DIR = $(dir $(LTMAIN))

ifeq ($(LTMAIN_DIR), /usr/share/libtool/)
LIBTOOL_CONFLICTS:=libtool (>= 2.2)
else ifeq ($(LTMAIN_DIR), /usr/share/libtool/config/)
LIBTOOL_CONFLICTS:=libtool (<< 2.2)
else ifeq ($(LTMAIN_DIR), /usr/share/libtool/build-aux/)
LIBTOOL_CONFLICTS:=libtool (<< 2.4.6)
else
LIBTOOL_CONFLICTS:=$(error "could not resolve path to ltmain.sh")
endif

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
    NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
    MAKEFLAGS += -j$(NUMJOBS)
endif

# enable the hardening wrapper
DEB_BUILD_HARDENING = 1
# but disable PIE
DEB_BUILD_HARDENING_PIE = 0
export DEB_BUILD_HARDENING DEB_BUILD_HARDENING_PIE

COMMON_CONFIG=--build=$(DEB_BUILD_GNU_TYPE) \
		--host=$(DEB_HOST_GNU_TYPE) \
		--sysconfdir=/etc \
		--localstatedir=/var \
		--mandir=/usr/share/man \
		--disable-debug \
		--with-regex=php \
		--disable-rpath \
		--disable-static \
		--with-pic \
		--with-layout=GNU \
		--without-pear \
		--enable-calendar \
		--enable-json \
		--enable-sysvsem \
		--enable-sysvshm \
		--enable-sysvmsg \
		--enable-bcmath \
		--with-bz2 \
		--enable-ctype \
		--without-db4 \
		--without-qdbm \
		--without-gdbm \
		--with-iconv \
		--enable-exif \
		--enable-ftp \
		--enable-dbase \
		--with-gettext \
		--enable-mbstring \
		--with-onig=/usr \
		--with-pcre-regex=/usr \
		--enable-shmop \
		--enable-sockets \
		--enable-simplexml \
		--enable-dom=/usr \
		--enable-wddx \
		--with-libxml-dir=/usr \
		--enable-tokenizer \
		--with-zlib \
		--with-kerberos=/usr \
		--with-openssl=/usr \
		--enable-soap \
		--enable-zip \
		--with-mhash=yes \
		--with-exec-dir=/usr/lib/php/5.3/libexec \
		--with-system-tzdata \
		--datadir=/etc/share/php/5.3 \
		--program-suffix=5.3 \
		--with-libdir=lib/x86_64-linux-gnu \
		$(CONFIGURE_DTRACE_ARGS)

prepared: prepared-stamp
prepared-stamp:
	dh_testdir
	./buildconf --force
	touch prepared-stamp

unprepared:
	dh_testdir
	rm -f prepared-stamp

test-results.txt: build-apache2-stamp build-cli-stamp
ifeq (yes,$(RUN_TESTS))
	mkdir -p temp_session_store
	# start our own mysql server for the tests
	$(SHELL) -x debian/setup-mysql.sh $(MYSQL_PORT) $(MYSQL_DATA_DIR)
	extensions=""; \
	test -f $(CURDIR)/apache2-build/modules/mysqlnd.so && extensions="-d extension=mysqlnd.so"; \
	for f in $(CURDIR)/apache2-build/modules/*.so; do \
	    ext=`basename "$$f"`; \
	    test -d "$(CURDIR)/ext/$${ext%.so}/tests" || continue; \
	    test "$$ext" != "mysqlnd.so" || continue; \
	    test "$$ext" != "imap.so" || continue; \
	    test "$$ext" != "interbase.so" || continue; \
	    test "$$ext" != "ldap.so" || continue; \
	    test "$$ext" != "odbc.so" || continue; \
	    test "$$ext" != "pdo_dblib.so" || continue; \
	    test "$$ext" != "pdo_firebird.so" || continue; \
	    test "$$ext" != "pdo_odbc.so" || continue; \
	    test "$$ext" != "pdo_pgsql.so" || continue; \
	    extensions="$$extensions -d extension=$$ext"; \
	done; \
	[ "$$extensions" ] || { echo "extensions list is empty"; exit 1; }; \
	env MYSQL_TEST_HOST=127.0.0.1 MYSQL_TEST_PORT=$(MYSQL_PORT) MYSQL_TEST_SOCKET=$(MYSQL_SOCKET) PDO_MYSQL_TEST_HOST=127.0.0.1 PDO_MYSQL_TEST_PORT=$(MYSQL_PORT) PDO_MYSQL_TEST_SOCKET=$(MYSQL_SOCKET) NO_INTERACTION=1 TEST_PHP_EXECUTABLE=$(CURDIR)/cli-build/sapi/cli/php \
	$(CURDIR)/cli-build/sapi/cli/php run-tests.php -d mysql.default_host=127.0.0.1 -d mysql.default_socket=$(MYSQL_SOCKET) -d mysqli.default_socket=$(MYSQL_SOCKET) -d extension_dir=$(CURDIR)/apache2-build/modules/ $$extensions| tee test-results.txt
	rm -rf temp_session_store
	@for test in `find . -name '*.log' -a '!' -name 'config.log' -a '!' -name 'bootstrap.log' -a '!' -name 'run.log'`; do \
	    echo; \
	    echo -n "$${test#./}:"; \
	    cat $$test; \
	    echo; \
	done | tee -a test-results.txt
	$(SHELL) -x debian/setup-mysql.sh $(MYSQL_PORT) $(MYSQL_DATA_DIR) stop
else
	echo 'nocheck found in DEB_BUILD_OPTIONS or unsupported architecture' | tee test-results.txt
endif

build: build-apache2-stamp build-cli-stamp build-fpm-stamp test-results.txt

build-apache2-stamp: configure-apache2-stamp
	dh_testdir
	cd apache2-build && $(MAKE)

	touch build-apache2-stamp

build-cli-stamp: configure-cli-stamp
	dh_testdir
	cd cli-build && $(MAKE)

	touch build-cli-stamp

build-fpm-stamp: configure-fpm-stamp
	dh_testdir
	cd fpm-build && $(MAKE)

	touch build-fpm-stamp

configure: configure-apache2-stamp configure-cli-stamp configure-fpm-stamp

configure-apache2-stamp: prepared-stamp
	dh_testdir
	if [ -d apache2-build ]; then rm -rf apache2-build; fi
	-mkdir apache2-build
	cd apache2-build && \
        CFLAGS="$(CFLAGS)" PROG_SENDMAIL="$(PROG_SENDMAIL)" ../configure \
		--prefix=/usr --with-apxs2=/usr/bin/apxs2 \
		--with-config-file-path=/etc/php/5.3/apache2 \
		--with-config-file-scan-dir=/etc/php/5.3/apache2/conf.d \
		$(COMMON_CONFIG) \
		--without-mm \
		--with-curl=shared,/usr \
		--with-enchant=shared,/usr \
		--with-zlib-dir=/usr \
		--with-jpeg-dir=shared,/usr \
		--with-png-dir=shared,/usr \
		--with-gmp=shared,/usr \
		--with-xpm-dir=shared,/usr/X11R6 \
		--with-gd=shared --enable-gd-native-ttf \
		--with-freetype-dir=/usr \
		--with-imap=shared,/usr \
		--with-imap-ssl \
		--enable-intl=shared \
		--with-ttf=shared,/usr \
		--without-t1lib \
		--with-ldap=shared,/usr \
		--with-ldap-sasl=/usr \
		--with-mcrypt=shared,/usr \
		--enable-mysqlnd=shared \
		--with-mysql=shared,mysqlnd \
		--with-mysql-sock=/var/run/mysqld/mysqld.sock \
		--with-mysqli=shared,mysqlnd \
		--with-pspell=shared,/usr \
		--with-unixODBC=shared,/usr \
		--with-recode=shared,/usr \
		--with-xsl=shared,/usr \
		--without-snmp \
		--without-sqlite \
		--with-sqlite3=shared,/usr \
		--with-mssql=shared,/usr \
		--with-tidy=shared,/usr \
		--with-xmlrpc=shared \
		--without-pgsql \
		--enable-pdo=shared \
		--without-pdo-dblib \
		--with-pdo-mysql=shared,mysqlnd \
		--with-pdo-odbc=shared,unixODBC,/usr \
		--without-pdo-pgsql \
		--with-pdo-sqlite=shared,/usr \
		--with-pdo-dblib=shared,/usr \
		--with-interbase=shared,/usr \
		--with-pdo-firebird=shared,/usr
	cd apache2-build && \
	cp ../Zend/zend_ini_scanner.c ../Zend/zend_language_scanner.c \
	   ../Zend/zend_ini_parser.h ../Zend/zend_language_parser.h \
	   ../Zend/zend_ini_parser.c ../Zend/zend_language_parser.c \
	   Zend/
	touch configure-apache2-stamp

configure-cli-stamp: prepared-stamp
	dh_testdir
	if [ -d cli-build ]; then rm -rf cli-build; fi
	-mkdir cli-build
	cd cli-build && \
        CFLAGS="$(CFLAGS)" PROG_SENDMAIL="$(PROG_SENDMAIL)" ../configure \
		--prefix=/usr --disable-cgi \
		--with-config-file-path=/etc/php/5.3/cli \
		--with-config-file-scan-dir=/etc/php/5.3/cli/conf.d \
		$(COMMON_CONFIG) \
		--without-mm \
		--disable-pdo \
		--with-readline=/usr \
		--without-mysql \
		--without-sybase-ct \
		--without-mssql \
		--without-sqlite \
		--without-sqlite3 \
		--enable-pcntl \
		--with-ncurses=/usr
	cd cli-build && \
	cp ../Zend/zend_ini_scanner.c ../Zend/zend_language_scanner.c \
	   ../Zend/zend_ini_parser.h ../Zend/zend_language_parser.h \
	   ../Zend/zend_ini_parser.c ../Zend/zend_language_parser.c \
	   Zend/
	touch configure-cli-stamp

configure-fpm-stamp: prepared-stamp
	dh_testdir
	if [ -d fpm-build ]; then rm -rf fpm-build; fi
	-mkdir fpm-build
	cd fpm-build && \
        CFLAGS="$(CFLAGS)" PROG_SENDMAIL="$(PROG_SENDMAIL)" ../configure \
		--prefix=/usr --enable-fpm --disable-cgi \
		--with-fpm-user=www-data --with-fpm-group=www-data \
		--with-config-file-path=/etc/php/5.3/fpm \
		--with-config-file-scan-dir=/etc/php/5.3/fpm/conf.d \
		$(COMMON_CONFIG) \
		--with-libevent-dir=/usr \
		--without-mm \
		--disable-pdo \
		--without-mysql --without-sybase-ct --without-sqlite \
		--without-mssql --without-sqlite3 \
		$(CONFIGURE_SYSTEMD)
	cd fpm-build && \
	cp ../Zend/zend_ini_scanner.c ../Zend/zend_language_scanner.c \
	   ../Zend/zend_ini_parser.h ../Zend/zend_language_parser.h \
	   ../Zend/zend_ini_parser.c ../Zend/zend_language_parser.c \
	   Zend/
	touch configure-fpm-stamp

clean: unprepared
	dh_testdir
	dh_testroot
	dh_clean -Xorig
	git reset --hard
	git clean -xfd

install: DH_OPTIONS=
install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

ifeq (yes,$(RUN_TESTS))
	cp test-results.txt debian/php5.3-common/usr/share/doc/php5.3-common/
endif

	# php5.3-common
	install -m644 apache2-build/ext/pdo/.libs/pdo.so debian/php5.3-common/usr/lib/php/20090626/pdo.so
	install -m644 debian/modules/pdo.ini debian/php5.3-common/usr/share/php/5.3/pdo/pdo.ini

	chmod 01733 debian/php5.3-common/var/lib/php/sessions/5.3
	install -m644 php.ini-production debian/php5.3-common/usr/share/php/5.3/php.ini
	install -m644 debian/copyright debian/php5.3-common/usr/share/doc/php5.3-common/copyright
	install -m644 debian/php5.3-common.lintian-overrides \
		debian/php5.3-common/usr/share/lintian/overrides/php5.3-common

	# libapache2-mod-php5.3
	install -m644 apache2-build/.libs/libphp5.so debian/libapache2-mod-php5.3/usr/lib/apache2/modules/libphp5.3.so
	install -m644 debian/libapache2-mod-php5.3.load debian/libapache2-mod-php5.3/etc/apache2/mods-available/php5.3.load
	install -m644 debian/libapache2-mod-php5.3.conf debian/libapache2-mod-php5.3/etc/apache2/mods-available/php5.3.conf
	install -m644 debian/libapache2-mod-php5.3.lintian-overrides \
		debian/libapache2-mod-php5.3/usr/share/lintian/overrides/libapache2-mod-php5.3

	## install the apache module files
	cd apache2-build && $(MAKE) install-headers install-build install-modules install-programs INSTALL_ROOT=$(CURDIR)/debian/libapache2-mod-php5.3

	## remove netware and win32 headers that we don't want
	for i in config.nw.h config.w32.h readdir.h tsrm_config.nw.h tsrm_config.w32.h tsrm_nw.h tsrm_win32.h win95nt.h zend_config.nw.h zend_config.w32.h; do \
		find debian/libapache2-mod-php5.3/usr/include -type f -name $$i -delete; \
	done

	# php5.3-curl
	install -m644 debian/modules/curl.ini debian/php5.3-curl/usr/share/php/5.3/curl/curl.ini
	install -m644 apache2-build/modules/curl.so debian/php5.3-curl/usr/lib/php/20090626/curl.so
	install -m644 debian/php5.3-curl.lintian-overrides \
		debian/php5.3-curl/usr/share/lintian/overrides/php5.3-curl

	# php5.3-enchant
	install -m644 debian/modules/enchant.ini debian/php5.3-enchant/usr/share/php/5.3/enchant/enchant.ini
	install -m644 apache2-build/modules/enchant.so debian/php5.3-enchant/usr/lib/php/20090626/enchant.so
	install -m644 debian/php5.3-enchant.lintian-overrides \
		debian/php5.3-enchant/usr/share/lintian/overrides/php5.3-enchant

	# php5.3-gd
	install -m644 debian/modules/gd.ini debian/php5.3-gd/usr/share/php/5.3/gd/gd.ini
	install -m644 apache2-build/modules/gd.so debian/php5.3-gd/usr/lib/php/20090626/gd.so
	install -m644 debian/php5.3-gd.lintian-overrides \
		debian/php5.3-gd/usr/share/lintian/overrides/php5.3-gd

	# php5.3-gmp
	install -m644 debian/modules/gmp.ini debian/php5.3-gmp/usr/share/php/5.3/gmp/gmp.ini
	install -m644 apache2-build/modules/gmp.so debian/php5.3-gmp/usr/lib/php/20090626/gmp.so
	install -m644 debian/php5.3-gmp.lintian-overrides \
		debian/php5.3-gmp/usr/share/lintian/overrides/php5.3-gmp

	# php5.3-imap
	install -m644 debian/modules/imap.ini debian/php5.3-imap/usr/share/php/5.3/imap/imap.ini
	install -m644 apache2-build/modules/imap.so debian/php5.3-imap/usr/lib/php/20090626/imap.so
	install -m644 debian/php5.3-imap.lintian-overrides \
		debian/php5.3-imap/usr/share/lintian/overrides/php5.3-imap

	# php5.3-intl
	install -m644 debian/modules/intl.ini debian/php5.3-intl/usr/share/php/5.3/intl/intl.ini
	install -m644 apache2-build/modules/intl.so debian/php5.3-intl/usr/lib/php/20090626/intl.so
	install -m644 debian/php5.3-intl.lintian-overrides \
		debian/php5.3-intl/usr/share/lintian/overrides/php5.3-intl

	# php5.3-ldap
	install -m644 debian/modules/ldap.ini debian/php5.3-ldap/usr/share/php/5.3/ldap/ldap.ini
	install -m644 apache2-build/modules/ldap.so debian/php5.3-ldap/usr/lib/php/20090626/ldap.so
	install -m644 debian/php5.3-ldap.lintian-overrides \
		debian/php5.3-ldap/usr/share/lintian/overrides/php5.3-ldap

	# php5.3-mcrypt
	install -m644 debian/modules/mcrypt.ini debian/php5.3-mcrypt/usr/share/php/5.3/mcrypt/mcrypt.ini
	install -m644 apache2-build/modules/mcrypt.so debian/php5.3-mcrypt/usr/lib/php/20090626/mcrypt.so
	install -m644 debian/php5.3-mcrypt.lintian-overrides \
		debian/php5.3-mcrypt/usr/share/lintian/overrides/php5.3-mcrypt

	# php5.3-pspell
	install -m644 debian/modules/pspell.ini debian/php5.3-pspell/usr/share/php/5.3/pspell/pspell.ini
	install -m644 apache2-build/modules/pspell.so debian/php5.3-pspell/usr/lib/php/20090626/pspell.so
	install -m644 debian/php5.3-pspell.lintian-overrides \
		debian/php5.3-pspell/usr/share/lintian/overrides/php5.3-pspell

	# php5.3-recode
	install -m644 debian/modules/recode.ini debian/php5.3-recode/usr/share/php/5.3/recode/recode.ini
	install -m644 apache2-build/modules/recode.so debian/php5.3-recode/usr/lib/php/20090626/recode.so
	install -m644 debian/php5.3-recode.lintian-overrides \
		debian/php5.3-recode/usr/share/lintian/overrides/php5.3-recode

	# php5.3-tidy
	install -m644 debian/modules/tidy.ini debian/php5.3-tidy/usr/share/php/5.3/tidy/tidy.ini
	install -m644 apache2-build/modules/tidy.so debian/php5.3-tidy/usr/lib/php/20090626/tidy.so
	install -m644 debian/php5.3-tidy.lintian-overrides \
		debian/php5.3-tidy/usr/share/lintian/overrides/php5.3-tidy

	# php5.3-xmlrpc
	install -m644 debian/modules/xmlrpc.ini debian/php5.3-xmlrpc/usr/share/php/5.3/xmlrpc/xmlrpc.ini
	install -m644 apache2-build/modules/xmlrpc.so debian/php5.3-xmlrpc/usr/lib/php/20090626/xmlrpc.so
	install -m644 debian/php5.3-xmlrpc.lintian-overrides \
		debian/php5.3-xmlrpc/usr/share/lintian/overrides/php5.3-xmlrpc

	# php5.3-xsl
	install -m644 debian/modules/xsl.ini debian/php5.3-xsl/usr/share/php/5.3/xsl/xsl.ini
	install -m644 apache2-build/modules/xsl.so debian/php5.3-xsl/usr/lib/php/20090626/xsl.so
	install -m644 debian/php5.3-xsl.lintian-overrides \
		debian/php5.3-xsl/usr/share/lintian/overrides/php5.3-xsl

	# php5.3-interbase
	install -m644 debian/modules/interbase.ini debian/php5.3-interbase/usr/share/php/5.3/interbase/interbase.ini
	install -m644 debian/modules/pdo_firebird.ini debian/php5.3-interbase/usr/share/php/5.3/interbase/pdo_firebird.ini
	install -m644 apache2-build/modules/interbase.so debian/php5.3-interbase/usr/lib/php/20090626/interbase.so
	install -m644 apache2-build/modules/pdo_firebird.so debian/php5.3-interbase/usr/lib/php/20090626/pdo_firebird.so
	install -m644 debian/php5.3-interbase.lintian-overrides \
		debian/php5.3-interbase/usr/share/lintian/overrides/php5.3-interbase

	# php5.3-sybase
	install -m644 debian/modules/mssql.ini debian/php5.3-sybase/usr/share/php/5.3/sybase/mssql.ini
	install -m644 debian/modules/pdo_dblib.ini debian/php5.3-sybase/usr/share/php/5.3/sybase/pdo_dblib.ini
	install -m644 apache2-build/modules/mssql.so debian/php5.3-sybase/usr/lib/php/20090626/mssql.so
	install -m644 apache2-build/modules/pdo_dblib.so debian/php5.3-sybase/usr/lib/php/20090626/pdo_dblib.so
	install -m644 debian/php5.3-sybase.lintian-overrides \
		debian/php5.3-sybase/usr/share/lintian/overrides/php5.3-sybase

	# php5.3-mysql
	install -m644 debian/modules/mysqlnd.ini debian/php5.3-mysql/usr/share/php/5.3/mysql/mysqlnd.ini
	install -m644 debian/modules/mysqli.ini debian/php5.3-mysql/usr/share/php/5.3/mysql/mysqli.ini
	install -m644 debian/modules/mysql.ini debian/php5.3-mysql/usr/share/php/5.3/mysql/mysql.ini
	install -m644 debian/modules/pdo_mysql.ini debian/php5.3-mysql/usr/share/php/5.3/mysql/pdo_mysql.ini
	install -m644 apache2-build/modules/mysqlnd.so debian/php5.3-mysql/usr/lib/php/20090626/mysqlnd.so
	install -m644 apache2-build/modules/mysqli.so debian/php5.3-mysql/usr/lib/php/20090626/mysqli.so
	install -m644 apache2-build/modules/mysql.so debian/php5.3-mysql/usr/lib/php/20090626/mysql.so
	install -m644 apache2-build/modules/pdo_mysql.so debian/php5.3-mysql/usr/lib/php/20090626/pdo_mysql.so
	install -m644 debian/php5.3-mysql.lintian-overrides \
		debian/php5.3-mysql/usr/share/lintian/overrides/php5.3-mysql

	# php5.3-odbc
	install -m644 debian/modules/odbc.ini debian/php5.3-odbc/usr/share/php/5.3/odbc/odbc.ini
	install -m644 debian/modules/pdo_odbc.ini debian/php5.3-odbc/usr/share/php/5.3/odbc/pdo_odbc.ini
	install -m644 apache2-build/modules/odbc.so debian/php5.3-odbc/usr/lib/php/20090626/odbc.so
	install -m644 apache2-build/modules/pdo_odbc.so debian/php5.3-odbc/usr/lib/php/20090626/pdo_odbc.so
	install -m644 debian/php5.3-odbc.lintian-overrides \
		debian/php5.3-odbc/usr/share/lintian/overrides/php5.3-odbc

	# php5.3-sqlite3
	install -m644 debian/modules/sqlite3.ini debian/php5.3-sqlite3/usr/share/php/5.3/sqlite3/sqlite3.ini
	install -m644 debian/modules/pdo_sqlite.ini debian/php5.3-sqlite3/usr/share/php/5.3/sqlite3/pdo_sqlite.ini
	install -m644 apache2-build/modules/sqlite3.so debian/php5.3-sqlite3/usr/lib/php/20090626/sqlite3.so
	install -m644 apache2-build/modules/pdo_sqlite.so debian/php5.3-sqlite3/usr/lib/php/20090626/pdo_sqlite.so
	install -m644 debian/php5.3-sqlite3.lintian-overrides \
		debian/php5.3-sqlite3/usr/share/lintian/overrides/php5.3-sqlite3

	# php5.3-cli
	install -m755 cli-build/sapi/cli/php debian/php5.3-cli/usr/bin/php5.3
	install -m644 cli-build/sapi/cli/php.1 debian/php5.3-cli/usr/share/man/man1/php5.3.1
	install -m644 debian/php5.3-cli.lintian-overrides \
		debian/php5.3-cli/usr/share/lintian/overrides/php5.3-cli

	# php5.3-fpm
	install -m755 debian/php5.3-fpm-checkconf debian/php5.3-fpm/usr/lib/php/5.3/php5.3-fpm-checkconf
	install -m755 debian/php5.3-fpm-reopenlogs debian/php5.3-fpm/usr/lib/php/5.3/php5.3-fpm-reopenlogs
	install -m644 debian/php5.3-fpm.logrotate debian/php5.3-fpm/etc/logrotate.d/php5.3-fpm
	install -m644 debian/php5.3-fpm.ini debian/php5.3-fpm/usr/share/php/5.3/php-fpm.ini
	install -m644 debian/php5.3-fpm.www debian/php5.3-fpm/etc/php/5.3/fpm/pool.d/www.conf
	install -m755 fpm-build/sapi/fpm/php-fpm debian/php5.3-fpm/usr/sbin/php5.3-fpm
	install -m644 fpm-build/sapi/fpm/php-fpm.8 debian/php5.3-fpm/usr/share/man/man8/php5.3-fpm.8
	install -m644 debian/php5.3-fpm.lintian-overrides \
		debian/php5.3-fpm/usr/share/lintian/overrides/php5.3-fpm

	# php5.3-dev
	mv debian/libapache2-mod-php5.3/usr/lib/php/5.3 debian/php5.3-dev/usr/lib/php/5.3
	mv debian/libapache2-mod-php5.3/usr/include/x86_64-linux-gnu/php/5.3 debian/php5.3-dev/usr/include/php

	install -m755 debian/libapache2-mod-php5.3/usr/bin/php-config5.3 debian/php5.3-dev/usr/bin/php-config5.3
	install -m755 debian/libapache2-mod-php5.3/usr/bin/phpize5.3 debian/php5.3-dev/usr/bin/phpize5.3
	install -m644 debian/libapache2-mod-php5.3/usr/share/man/man1/php-config5.3.1 debian/php5.3-dev/usr/share/man/man1/php-config5.3.1
	install -m644 debian/libapache2-mod-php5.3/usr/share/man/man1/phpize5.3.1 debian/php5.3-dev/usr/share/man/man1/phpize5.3.1

	install -m644 debian/php5.3-dev.lintian-overrides \
		debian/php5.3-dev/usr/share/lintian/overrides/php5.3-dev

	chmod +x debian/php5.3-dev/usr/lib/php/5.3/build/run-tests.php
	for i in Makefile.global acinclude.m4 mkdep.awk phpize.m4 scan_makefile_in.awk; do \
		chmod 644 debian/php5.3-dev/usr/lib/php/5.3/build/$$i; \
	done

	cp -a ext/skeleton ext/ext_skel debian/php5.3-dev/usr/share/php/5.3
	sed -i 's/skel_dir="skeleton"/skel_dir="\/usr\/share\/php5.3\/skeleton"/' \
	    debian/php5.3-dev/usr/share/php/5.3/ext_skel

	## shipping duplicate files from other packages is hell for security audits
	ln -sf /usr/share/misc/config.guess $(PHPIZE_BUILDDIR)/config.guess
	ln -sf /usr/share/misc/config.sub $(PHPIZE_BUILDDIR)/config.sub
	ln -sf /usr/share/aclocal/libtool.m4 $(PHPIZE_BUILDDIR)/libtool.m4
	ln -sf $(LTMAIN_DIR)ltmain.sh $(PHPIZE_BUILDDIR)/ltmain.sh
	ln -sf /usr/bin/shtool $(PHPIZE_BUILDDIR)/shtool

	# cleanup
	rm -f apache2-build/modules/*.so
	rm -rf debian/libapache2-mod-php5.3/usr/lib/php/20090626
	rm -rf debian/libapache2-mod-php5.3/usr/include
	rm -rf debian/libapache2-mod-php5.3/usr/share/man
	rm -rf debian/libapache2-mod-php5.3/usr/bin/
	rm -f debian/php5.3-dev/usr/share/php/5.3/skeleton/skeleton.dsp

	touch install-stamp

# Build architecture-independent files here.
# Pass -i to all debhelper commands in this target to reduce clutter.
binary-indep: DH_OPTIONS=-i
binary-indep: build install
	# Need this version of debhelper for DH_OPTIONS to work.
	dh_testdir
	dh_testroot
	dh_link
	dh_compress -Xphp.ini
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
	# Need this version of debhelper for DH_OPTIONS to work.
	dh_testdir
	dh_testroot

#	dh_installdocs -s -pphp5.3-common --name=php5.3
	install -g 0 -o 0 -m 644 -p debian/copyright debian/php5.3-common/usr/share/doc/php5.3-common/copyright

	dh_perl
	dh_installlogrotate -pphp5.3-fpm
	dh_installcron -pphp5.3-common --name=php5.3
	dh_installchangelogs -pphp5.3-common NEWS
	dh_systemd_enable
	dh_installinit
	dh_systemd_start
	dh_link -s
	dh_compress -s -Xphp.ini
	dh_fixperms -s -X/var/lib/php/5.3
	dh_strip -s --dbg-package=php5.3-dbg
	dh_shlibdeps -s
	dh_installdeb -s

	echo "libtool:Conflicts=$(LIBTOOL_CONFLICTS)" >>debian/php5.3-dev.substvars

	dh_gencontrol -s
	dh_md5sums -s
	dh_builddeb -s

binary: binary-arch binary-indep
build-arch: build

.PHONY: build binary-indep build-arch clean binary-arch binary install configure
