Source: php5.3-opcache
Section: php
Priority: optional
Maintainer: s3rj1k <evasive.gyron@gmail.com>
Build-Depends: debhelper (>= 9), php5.3-dev, build-essential, devscripts
Standards-Version: 3.9.6
Homepage: http://pecl.php.net/package/ZendOpcache

Package: php5.3-opcache
Architecture: any
Depends: ${shlibs:Depends}, ${php:Depends}, ${misc:Depends}, php5.3-common
Description: ZendOpcache module for PHP 5.3
 The Zend OPcache provides faster PHP execution through
 opcode caching and optimization.
